/* fonts */
@font-face {
  font-family: 'CastrolSansCon-Regular';
  src: url('../fonts/CastrolSansCon-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* colors */
.green {
  color: #01984e;
}
.green-bg {
  background: #01984e;
}
body {
  font-family: 'CastrolSansCon-Regular';
  font-size: 16px;
  color: #fff;
  background-color: #020305;
}
.main-btn {
  height: 40px;
  min-width: 88px;
  padding-bottom: 4px;
  font-size: 16px;
  background: #fff;
  border-color: transparent;
  border-radius: 50px;
  text-transform: uppercase;
}
.main-btn:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.main-btn:visited {
  color: #01984e;
  background-color: #fff;
}
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.flex-direction-column {
  flex-direction: column;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-evently {
  justify-content: space-evenly;
}
.align-content-between {
  align-content: space-between;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-center {
  align-items: center;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-left-10 {
  margin-left: 10px;
}
.position-relative {
  position: relative;
}
.padding-0 {
  padding: 0;
}
.margin-0 {
  margin: 0;
}
button:focus {
  outline: none !important;
}
.list-wrapper {
  padding-left: 0;
  padding-right: 0;
}
.flex-wrap {
  flex-wrap: wrap;
}
.navigation {
  padding-top: 20px;
  padding-bottom: 30px;
}
.menu {
  /* popup menu for burger */
}
.menu .row {
  display: flex;
  align-items: center;
}
.menu__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
}
.menu-popup__list {
  text-align: center;
}
.menu .list__item {
  display: flex;
  flex-direction: row;
}
.menu-popup .list__item {
  padding-bottom: 20px;
}
.menu .link,
.menu-popup .link {
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  text-transform: uppercase;
}
.menu .link {
  font-size: 14px;
}
.menu-popup .link {
  font-size: 24px;
}
.menu .link:hover,
.menu-popup .link:hover {
  color: #01984e;
  text-decoration: none;
}
.menu__burger {
  position: relative;
  display: block;
  float: right;
  width: 34px;
  height: 25px;
  background-color: inherit;
  z-index: 11;
}
.menu__burger span::before,
.menu__burger span::after,
.menu__burger span {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 34px;
  margin-left: -17px;
  background: #fff;
}
.menu__burger span::before {
  margin-top: -7px;
}
.menu__burger span::after {
  margin-top: 3px;
}
.menu__burger span {
  margin-top: -2px;
}
.menu .menu__burger span::before,
.menu .menu__burger span::after {
  content: '';
  display: block;
  transition: 0.4s;
}
.menu .menu__burger span::before {
  transform: translateY(-5px);
}
.menu .menu__burger span::after {
  transform: translateY(5px);
}
.menu .menu__burger--active span {
  height: 0;
}
.menu .menu__burger--active span:before {
  transform: rotate(45deg) translate(2px, 7px);
}
.menu .menu__burger--active span:after {
  transform: rotate(135deg) translateY(5px);
}
.menu-popup {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
  transition: 0.5s;
  transform: translateX(100%);
}
.menu-popup.active {
  transform: translateX(0%);
}
.menu-popup .link {
  color: #fff;
  opacity: 1;
}
.menu-popup .link:hover {
  color: #01984e;
  opacity: 1;
}
.menu-popup__list {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translate(-50%, -50%);
}
.menu .menu--no-active {
  display: none;
}
@media (max-width: 991px) {
  .menu .row [class*='col-']:nth-child(1) {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .menu {
    display: flex;
    justify-content: flex-end;
  }
  .menu-popup .menu-popup__list {
    width: 100%;
  }
  .menu > .main-btn {
    margin-right: auto;
    height: 30px;
    font-size: 14px;
  }
  .menu .menu--no-active {
    display: flex;
  }
  .menu .menu--active {
    display: none;
  }
}
@media (max-width: 425px) {
  .menu > .main-btn {
    font-size: 12px;
  }
}
.main-content .container {
  padding-top: 110px;
  padding-bottom: 170px;
  background-image: url('../img/burger@2x.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}
.main-content h1 {
  font-size: 58px;
  line-height: 70px;
  text-transform: uppercase;
}
.main-content h1 small {
  font-size: 30px;
  color: #fff;
}
.main-content p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.4;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .main-content .container {
    background-position: center center;
  }
  .main-content h1,
  .main-content p {
    text-shadow: 0px 4px 5px black;
  }
  .main-content p {
    opacity: 0.9;
  }
}
@media (max-width: 767px) {
  .main-content h1 {
    font-size: 48px;
    line-height: 56px;
  }
  .main-content h1 small {
    font-size: 26px;
  }
}
@media (max-width: 550px) {
  .main-content .container {
    padding-top: 0;
    padding-bottom: 0;
    background-image: none;
  }
  .main-content .main-bg {
    width: auto;
    height: 550px;
    background-image: url('../img/burger@2x.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
  }
  .main-content h1 {
    margin-top: -59px;
  }
  .main-content p {
    opacity: 0.3;
  }
}
@media (max-width: 425px) {
  .main-content {
    margin-top: -25px;
  }
  .main-content .main-bg {
    height: 425px;
  }
  .main-content h1 {
    font-size: 30px;
    line-height: 36px;
  }
  .main-content h1 small {
    font-size: 22px;
  }
}
@media (max-width: 320px) {
  .main-content .main-bg {
    height: 320px;
  }
}
.actions {
  display: flex;
  height: 165px;
  width: 100%;
  background: #01984e;
  box-shadow: 1px -19px 32px 5px rgba(56, 56, 56, 0.42) inset, 0px 71px 32px -47px rgba(255, 255, 255, 0.42) inset;
  -webkit-box-shadow: -3px -27px 32px 7px rgba(42, 56, 56, 0.42) inset, 0px 71px 32px -47px rgba(255, 255, 255, 0.42) inset;
  -moz-box-shadow: 1px -19px 32px 5px rgba(56, 56, 56, 0.42) inset, 0px 71px 32px -47px rgba(255, 255, 255, 0.42) inset;
}
.actions .container {
  margin: auto;
}
.actions img {
  margin-right: 20px;
}
.actions h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  text-transform: uppercase;
}
.actions p {
  margin-bottom: -5px;
  color: #fff;
  font-size: 18px;
  text-transform: initial;
}
.actions .container > .row [class^="col-"]:not(:last-child) .item-wrapper::after {
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  width: 30px;
  height: 89px;
  margin-top: -2.625em;
  background-image: url('../img/Triangle.svg');
}
@media (max-width: 991px) {
  .actions .container {
    width: 850px;
  }
  .actions h2 {
    font-size: 20px;
  }
  .actions p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .actions {
    height: 459px;
  }
  .actions .container {
    height: 100%;
  }
  .actions .row {
    flex-wrap: wrap;
    height: 100%;
  }
  .actions [class^="col-"] {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .actions .item-wrapper {
    position: relative;
  }
  .actions .container > .row [class^="col-"]:not(:last-child) .item-wrapper::after {
    top: 184%;
    left: 20%;
    transform: rotate(90deg);
  }
}
@media (max-width: 550px) {
  .actions {
    margin-top: 40px;
  }
}
.download {
  margin-top: 80px;
}
.download h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-transform: uppercase;
}
.download__items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.download img,
.download #qr-code {
  padding-left: 20px;
  padding-right: 20px;
}
.download #qr-code canvas {
  border: 4px solid #fff;
}
@media (max-width: 767px) {
  .download h2 {
    font-size: 26px;
  }
}
@media (max-width: 550px) {
  .download #qr-code {
    display: none;
  }
  .download img {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 425px) {
  .download h2 {
    font-size: 24px;
  }
}
.products {
  margin-top: 80px;
}
.products .container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
.products h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-transform: uppercase;
}
.products p {
  max-width: 1240px;
  width: 100%;
  margin: 15px auto;
  padding-bottom: 10px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
}
.products .elem {
  width: 232px;
  margin-right: 5px;
  margin-left: 5px;
}
.products .elem img {
  background: #131313;
  border-radius: 12px;
}
.products .slider {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .products h2 {
    font-size: 26px;
  }
}
@media (max-width: 550px) {
  .products {
    margin-top: 40px;
  }
  .products h2 {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .products .slider {
    margin-bottom: 0;
  }
  .products h2 {
    font-size: 24px;
  }
  .products .elem,
  .products .elem img {
    max-width: 160px;
    width: 100%;
  }
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  width: 60px;
  height: 60px;
  border: none;
  background-size: 150%;
}
.arrow--prev {
  left: 0;
  background: url("../img/arrow-green.svg") center no-repeat / cover;
}
.arrow--next {
  right: 0;
  transform: translateY(-50%) rotate(180deg);
  background: url("../img/arrow-green.svg") center no-repeat / cover;
}
@media (max-width: 480px) {
  .arrow.arrow--next.slick-arrow,
  .arrow.arrow--prev.slick-arrow {
    display: none !important;
  }
}
.slick-disabled {
  display: none;
  pointer-events: none;
}
.slick-arrow[aria-disabled="true"] {
  opacity: 0;
}
.conditions {
  margin-top: 80px;
}
.conditions h2 {
  margin-bottom: 35px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.conditions button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 50px;
}
.conditions button:hover {
  color: #00B45C;
  background: #fff;
}
.conditions button ion-icon {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}
.conditions button span {
  height: 26px;
  line-height: 30px;
}
@media (max-width: 991px) {
  .conditions .container > .row [class^="col-"] {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .conditions h2 {
    font-size: 26px;
  }
  .conditions button ion-icon {
    width: 26px;
    height: 26px;
    margin-right: 20px;
  }
  .conditions button span {
    height: 20px;
    line-height: 24px;
  }
  .conditions button {
    font-size: 20px;
  }
}
@media (max-width: 550px) {
  .conditions {
    margin-top: 40px;
  }
}
@media (max-width: 425px) {
  .conditions h2 {
    font-size: 24px;
  }
  .conditions button {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    font-size: 16px;
  }
  .conditions button span {
    height: 16px;
    line-height: 19px;
  }
  .conditions button ion-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
}
.partnership {
  margin-top: 95px;
}
.partnership h2 {
  margin-bottom: 35px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 767px) {
  .partnership {
    margin-top: 45px;
  }
  .partnership h2 {
    font-size: 26px;
  }
  .partnership .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.ymaps-2-1-74-islets_map-lang-ru {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.map-wrapper {
  display: flex;
  width: 100%;
  height: 640px;
}
.map-wrapper .control-panel {
  position: relative;
  width: 276px;
  height: 100%;
  background: #131313;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  overflow: hidden;
}
.map-wrapper .list-of-cities {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px;
  display: flex;
  padding-top: 20px;
  padding-left: 0;
  flex-direction: column;
  list-style-type: none;
  overflow-y: scroll;
}
.map-wrapper .list-of-cities li {
  width: 100%;
  height: 60px;
  padding-left: 30px;
  line-height: 60px;
  cursor: pointer;
}
.map-wrapper .list-of-cities li a {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}
.map-wrapper .list-of-cities li a:hover,
.map-wrapper .list-of-cities li a:active,
.map-wrapper .list-of-cities li a:focus {
  text-decoration: none;
}
.map-wrapper .list-of-cities li:hover:not(.city-active) a {
  color: #00B45C;
}
.map-wrapper .city-active {
  position: relative;
  background: #01984e;
}
.map-wrapper .ymaps-2-1-74-controls__toolbar {
  display: none;
}
.map-wrapper #map {
  width: 75%;
  height: 100%;
}
@media (max-width: 991px) {
  .map-wrapper .control-panel {
    width: 300px;
  }
}
@media (max-width: 767px) {
  .map-wrapper {
    height: 425px;
  }
  .map-wrapper .control-panel {
    display: none;
  }
  .map-wrapper #map {
    width: 90%;
    height: 425px;
    margin: 0 auto;
  }
  .map-wrapper .ymaps-2-1-74-map {
    width: 90%;
    height: 425px !important;
  }
  .map-wrapper .ymaps-2-1-74-islets_map-lang-ru {
    width: 90%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
@media (max-width: 425px) {
  .map-wrapper {
    height: 300px;
  }
  .map-wrapper #map {
    width: 100%;
    height: 300px;
  }
  .map-wrapper .ymaps-2-1-74-map {
    width: 100%;
  }
  .map-wrapper .ymaps-2-1-74-map {
    width: 100%;
    height: 300px !important;
  }
}
.panel {
  border: 0;
}
.faq {
  margin-top: 80px;
}
.faq h2 {
  margin-bottom: 35px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.faq #accordion .panel:nth-child(1) {
  padding-top: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.faq .panel {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #020305;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.faq .panel-group .panel {
  border-radius: 0;
}
.faq .panel[aria-expanded="true"] h3 {
  color: #01984e;
}
.faq .panel[aria-expanded="true"] ion-icon {
  color: #01984e;
  transform: rotate(180deg);
}
.faq .panel-heading {
  display: flex;
  justify-content: space-between;
}
.faq .panel-heading:hover {
  color: #01984e;
}
.faq .panel-heading ion-icon {
  width: 30px;
  height: 30px;
}
.faq h3 a {
  font-size: 24px;
  text-decoration: none;
}
.faq h3 a:hover,
.faq h3 a:focus {
  text-decoration: none;
}
.faq .panel-body {
  width: 94%;
  border-top: none !important;
  opacity: 0.7;
}
@media (max-width: 767px) {
  .faq {
    margin-top: 40px;
  }
  .faq h2 {
    font-size: 26px;
  }
  .faq h3 a {
    font-size: 20px;
  }
}
@media (max-width: 550px) {
  .faq {
    margin-top: 40px;
  }
}
@media (max-width: 425px) {
  .faq h2 {
    font-size: 24px;
  }
  .faq h3 a {
    font-size: 18px;
  }
  .faq #accordion .panel:nth-child(1) {
    padding-top: 15px;
  }
  .faq .panel {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .faq .panel-group .panel + .panel {
    margin-top: 0;
  }
  .faq .panel-heading ion-icon {
    margin-top: -7px;
  }
}
.feedback {
  margin-top: 80px;
}
.feedback form,
.feedback .success {
  max-width: 945px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 30px;
  background: #131313;
  border-radius: 12px;
}
.feedback .success {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.feedback h2 {
  padding-bottom: 19px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.feedback form > .row [class^="col-"]:first-child {
  padding-right: 10px;
}
.feedback form > .row [class^="col-"]:last-child {
  padding-left: 10px;
}
.feedback .form-group * {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}
.feedback .form-group {
  margin-bottom: 20px;
}
.feedback .form-control:hover {
  border-color: #4b4b4b;
}
.feedback .form-control + label {
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 20px;
  transition: 0.2s ease all;
  color: rgba(255, 255, 255, 0.3);
}
.feedback .form-control:hover + label,
.feedback .form-control:focus + label {
  color: rgba(255, 255, 255, 0.5);
}
.feedback .form-control:focus + label,
.feedback .form-control:not(:focus):valid ~ .floating-label {
  left: 15px;
  top: 12px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  transition: 0.2s ease all;
}
.feedback .form-control:not(:focus):valid ~ .floating-label {
  color: rgba(255, 255, 255, 0.3);
}
.feedback .form-control:focus {
  outline: none;
  border-color: inherit;
  box-shadow: none;
  border-color: #4b4b4b;
}
.feedback form input {
  height: 57px;
  padding: 32px 15px 8px;
  color: rgba(255, 255, 255, 0.8);
  background: #1b1b1b;
  border: 1px solid #2f2f2f;
  border-radius: 6px;
}
.feedback .error {
  border-color: #a20000;
}
.feedback .error + label {
  color: #a20000;
  opacity: 0.5;
}
.feedback form textarea {
  height: 121px;
  padding: 32px 15px 8px;
  color: rgba(255, 255, 255, 0.8);
  background: #1b1b1b;
  border: 1px solid #2f2f2f;
  border-radius: 6px;
  resize: none;
}
.feedback .form-group .btn-primary {
  width: 100%;
  height: 57px;
  background: #01984e;
  border-color: #01984e;
}
.feedback .form-group .btn-primary:disabled {
  opacity: 0.5;
}
.feedback .form-group .btn-primary:hover:disabled {
  background: #01984e;
}
.feedback .form-group .btn-primary:hover {
  background: #00b45c;
}
.feedback .form-group .btn-primary:active {
  background: #01753c;
  border-color: #016534;
}
.feedback .form-group .checkbox label {
  display: flex;
  align-items: center;
  padding: 0;
  color: rgba(255, 255, 255, 0.3);
  text-transform: none;
}
.feedback .form-group:last-child .row {
  display: flex;
  align-items: center;
}
.feedback .form-group .checkbox input[type="checkbox"] {
  display: none;
}
.feedback .form-group .checkbox label:before {
  content: " ";
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-top: -3px;
  color: #fff;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.feedback .form-group .checkbox input:hover + label:before {
  background-image: linear-gradient(rgba(29, 29, 29, 0.6), rgba(29, 29, 29, 0.6)), url('../img/checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.feedback .form-group .checkbox input:checked + label:before {
  background-image: url('../img/checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #01984e;
  border-color: #01984e;
}
.feedback .form-group .checkbox input:disabled + label:before {
  background: #01984e;
  color: #fff;
}
.feedback button:hover {
  background: #00B45C;
}
@media (max-width: 767px) {
  .feedback {
    margin-top: 40px;
  }
  .feedback h2 {
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 26px;
  }
  .feedback form > .form-group:nth-of-type(1) .row [class^="col-"]:nth-child(1) {
    margin-bottom: 20px;
  }
  .feedback form > .form-group:last-of-type .row {
    display: flex;
    flex-direction: column;
  }
  .feedback form > .form-group:last-of-type .row [class^="col-"]:nth-child(1) {
    margin-bottom: 20px;
  }
  .feedback form > .row [class^="col-"]:first-child {
    padding-right: 15px;
  }
  .feedback form > .row [class^="col-"]:last-child {
    padding-left: 15px;
  }
  .feedback .form-group .checkbox input:hover + label:before {
    background-image: none;
  }
  .feedback .form-group .checkbox input:checked + label:before {
    background-image: url('../img/checkmark.svg');
  }
}
@media (max-width: 425px) {
  .feedback .container {
    padding-left: 0;
    padding-right: 0;
  }
  .feedback form {
    padding: 26px 15px 15px;
    border-radius: 0;
  }
  .feedback .success h2 {
    padding-top: 20px;
  }
}
.footer {
  margin-top: 100px;
}
.footer .row {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-top: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.footer .row .col-lg-6 {
  padding: 0;
}
.footer .navbar-nav li a {
  padding: 10px 20px 10px 0;
}
.footer .navbar-nav li a {
  color: #fff;
  background: inherit;
  font-size: 14px;
  text-transform: uppercase;
}
.footer .navbar-nav li a:hover {
  color: #01984e;
  background: #020305;
}
.footer .copyright {
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .footer {
    margin-top: 50px;
  }
  .footer .container .row {
    display: flex;
    flex-direction: column;
  }
  .footer .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer .container .row [class^="col-"]:nth-last-child(1) {
    justify-content: center;
  }
  .footer .container .row [class^="col-"]:nth-last-child(1) button,
  .footer .container .row [class^="col-"]:nth-last-child(1) a {
    margin-bottom: 10px;
  }
  .footer .container .row [class^="col-"]:nth-last-child(1) {
    flex-wrap: wrap;
  }
  .footer .navbar-nav li a {
    padding: 10px;
  }
}
@media (max-width: 550px) {
  .footer .nav {
    justify-content: flex-start;
  }
  .footer .nav a {
    margin-left: 7px;
  }
  .footer .container .row [class^="col-"]:last-child {
    justify-content: flex-start;
  }
}
.text-transform-initial {
  text-transform: initial !important;
}
.no-active {
  display: none;
}
.cluster-icon {
  display: block;
  background-color: #000;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 43px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
}
.map-marker {
  height: 35px;
  width: 35px;
  margin-left: -17px;
  margin-top: -17px;
  border-radius: 50%;
  background-color: #000;
  background-image: url('/img/burger@2x.png');
  background-size: 21px 21px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.popover {
  display: block;
  padding: 15px;
  font-family: 'CastrolSansCon-Regular';
  border: none;
  box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.75) !important;
  border-radius: 11px;
}
.popover-contentz {
  color: #888;
  text-transform: uppercase;
}
body [class*="ymaps-2"][class*="-map"] .popover {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05) !important;
}
.popover.top > .arrow {
  border-top-color: #fff;
}
.popover .close {
  position: absolute;
  right: 5px;
  top: 1px;
}
#dropdown {
  display: none;
  width: 90%;
  height: 60px;
  padding-left: 30px;
  padding-right: 15px;
  margin: 0 auto 30px;
  color: #fff;
  font-size: 16px;
  background: #202020;
  border-color: transparent;
  border-radius: 50px;
  text-transform: uppercase;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background-image: url('http://www.free-icons-download.net/images/small-down-arrow-icon-15593.png');
  background-repeat: no-repeat;
  background-size: 24px 22px;
  background-position: 97% center;
}
@media (max-width: 767px) {
  #dropdown {
    display: flex;
  }
}
